In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
%matplotlib inline

In [ ]:
df = pd.read_csv('adult_dataset.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
dum_df = df[df['workclass'] != '?']
dum_df.info()

In [ ]:
df.info()

In [ ]:
# df.isnull().sum()

In [ ]:
columns = df.columns
columns

In [ ]:
df.apply(lambda x :x=='?',axis=1).sum()

In [ ]:
total  = df.workclass.value_counts(dropna=False)
percent = round(df.workclass.value_counts(dropna=False,normalize=True)*100,2)
pd.concat([total,percent],names=['total','percent'],axis=1)

In [ ]:
workclass_df = df[df.workclass == '?']
sns.heatmap(workclass_df.corr(),annot=True)

In [ ]:
workclass_df.columns

In [ ]:
workclass_df.head()

In [ ]:
dummy_work_df = workclass_df.drop(['workclass','occupation','native.country'],axis=1)
dummy_work_df.corr()

In [ ]:
df.sex.value_counts()

In [ ]:
df.sex.values

In [ ]:
round(workclass_df.describe())

In [ ]:
workclass_df.sex.value_counts()

In [ ]:
df.nunique()

In [ ]:
plt.figure(figsize=(14,10))

ax0 = sns.boxplot(x='workclass',y='age',hue='sex',data=df)
plt.title('understanding workclass')

In [ ]:
# def age_func(data):
#     if data == 'Male':
#         return 1 
#     else:
#         return 0

df.sex = df.sex.apply(lambda x : 1 if x == "Male" else 0)
df.head()

In [ ]:
df.workclass = df.workclass.replace('?','Private')

In [ ]:
df.head()

In [ ]:
df.occupation = df.occupation.replace('?','Nothing')
df.head()

In [ ]:
count = df.occupation.value_counts(dropna=False)
percent = round(df.occupation.value_counts(dropna=False,normalize=True)*100,2)
pd.concat([count,percent],names=['count','percent'],axis=1)

In [ ]:
count = df.occupation.value_counts(dropna=False)
percent = round(df.occupation.value_counts(dropna=False)*100,2)
pd.concat([count,percent],names=['count','percent'],axis=1)

In [ ]:
plt.figure(figsize=(30,14))
sns.boxplot(x='occupation',y='hours.per.week',data=df,hue='sex')

In [ ]:
df.info()

In [ ]:
df.occupation = df.occupation.replace('Nothing','Priv-house-serv')
df.head()

In [ ]:
count = df['native.country'].value_counts(dropna = False)
percent = round(df['native.country'].value_counts(dropna=False,normalize=True)*100,2)
pd.concat([count,percent],names=['count','percent'],axis=1)

In [ ]:
df = df[df['native.country'] != "?"]

df.head()
df.apply(lambda x : x =="?",axis=1).sum()

In [ ]:
df.income.dtype

In [ ]:
df.income = df.income.apply(lambda x : 1 if x == '>50K' else 0)
df.head()

In [ ]:
df.income.value_counts()

In [ ]:
df.describe(include='O')

In [ ]:
df[['sex','income']].groupby('sex').describe().reset_index()

In [ ]:
df_summ = df.groupby('sex')
df_summ.mean().reset_index()

11% woman make make more than 50k in income as compared to 31% men

In [ ]:
plt.figure(figsize = (20,10))
sns.kdeplot(df.income[df.sex == 1],shade=True, color = 'grey',label = "Male")
sns.kdeplot(df.income[df.sex == 0],shade=True, color = 'r',label = "Female")
plt.xlabel("Income")
plt.ylabel(" Frequency of Age")
plt.title("Graph betwwen Income and Sex")
label = ['Less Than or equal to 50k','More than 50k']
plt.xticks(ticks= sorted(df.income.unique()),labels = label)

In [ ]:
plt.figure(figsize=(20,10))
sns.boxplot(x=df.income,y = df.age,hue=df.sex,data=df)

I. Less than 50K
1. The avg no if woman and men earning less than 50k is more or less same .
2. Woman tend to work at younger age than men when earning money .
3. The avg for woman earning less than 50k is 25 to 45 and for men its 27 to 45 (rough estimate)

II. More than 50k
1. The avg no if woman and men earning more than 50k is more or less same .
2. People earn more than 50k when they are older ie in the age bracket of 30 to 50 ; makes sense as it takes experince to earn more .

### Correlation

In [ ]:
plt.figure(figsize=(20,10))
sns.heatmap(df.corr(),annot=True)

1. The correlation between education.num and income is (0.34) stating that people with better education.num had better inncome .
2. The amount of hours per week and income has a correlation of 0.23

### Statistical analysis

In [ ]:
man_mean = df[df.sex == 1].income.mean()
woman_mean = df[df.sex == 0].income.mean()
print("Mean of men earning ",man_mean)
print("Mean of women earning ",woman_mean)
print("Differnce between the means ",(man_mean - woman_mean))

### Data is not cleaned

In [ ]:
plt.figure(figsize=(30,14))
sns.barplot(x='occupation',y='hours.per.week',data=df,hue='sex')

### Exploratory fun

In [ ]:
# df['hours.per.week'].value_counts()

In [ ]:
plt.figure(figsize=(14,8))
sns.kdeplot( df.loc[(df.sex == 1),'hours.per.week'],shade=True,color='grey',label="Male")
sns.kdeplot( df.loc[(df.sex == 0),'hours.per.week'],shade=True,color='r',label="Female")
plt.xlabel('Adults WORK HOUR PER WEEK ')
plt.ylabel('Frequency of Adults sex ; 1 = Male : 0 = Female')
plt.title("Distribution of race wrt to sex")

In [ ]:
# pal = {
#     0 : "gray",
#     1 : "green"
# }
plt.figure(figsize=(24,10))
g = sns.FacetGrid(df,col="race",row='income',hue='sex',margin_titles=True)
g = g.map(plt.hist,'age',edgecolor='white').add_legend()

In [ ]:
df.info()

In [ ]:
df.columns.dtype

In [ ]:
X = df.drop(['income'],axis=1)

In [ ]:
y = df.income

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
df.head()

In [ ]:
# # df = pd.get_dummies(df,columns=['workclass','education','marital.status','occupation','relationship',
#                                'race','native.country'],drop_first=True)

In [ ]:
df.head()

In [ ]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
dtr = DecisionTreeRegressor(criterion='mae',max_depth=5)

In [ ]:
dtr.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [ ]:
y_pred = dtr.predict(X_test)